In [2]:
import numpy as np
import pandas as pd
from datetime import date
import collections
import datetime
import os
import xarray as xr
import csv

## Generic the filepath to the main data folder
fpath0 = '/Users/finnwimberly/Library/CloudStorage/GoogleDrive-fwimberly@middlebury.edu/My Drive/'
fpath1 = 'Lizz Research Stuff/CSV Outputs/'

In [3]:
#Loading in total Basin area data
from scipy.io import loadmat
BasinAreas = loadmat(fpath0 + fpath1 + 'BasinArea.mat')

In [10]:
#Creating indexed df
basin_areas = BasinAreas['BasinArea']
basin_names = BasinAreas['BasinNam']
basin_name_list = [name[1][0] for name in basin_names]

TotalBasinAreas = pd.DataFrame({'Basin Area': basin_areas.squeeze()}, index=basin_name_list)
TotalBasinAreas = TotalBasinAreas.rename(index={'ISSYK-KUL': 'YSYK-KOL', 'LAGARFLIOT' : 'LAGARFLJOT'}).sort_index() #Same Basins

In [12]:
#Loading in total glaciated area data
file_path = fpath0+fpath1+'Initial Areas/ALL BASINS/InitialAreas_ALL.csv'
GlaciatedBasinAreas = pd.read_csv(file_path, index_col=0)

In [13]:
#Creating glacier area fraction dataframe
total_area = TotalBasinAreas['Basin Area']
GlacierAreaFrac = GlaciatedBasinAreas[['GloGEM', 'OGGM', 'PyGEM']].div(total_area, axis=0)

In [14]:
GlacierAreaFrac

                GloGEM      OGGM     PyGEM
Basin
AISEN         0.012536  0.012809  0.012519
ALSEK         0.195899  0.200041  0.195932
AMAZON        0.000235  0.000250  0.000235
ARAL SEA      0.009124  0.009697  0.009149
AZOPARDO      0.008517  0.008805  0.008529
...                ...       ...       ...
YANGTZE       0.000943  0.000996  0.000978
YELCHO        0.020980  0.021752  0.020981
YELLOW RIVER  0.000184  0.000191  0.000184
YSYK-KOL      0.023172  0.023454  0.023171
YUKON         0.012003  0.012138  0.012041

[75 rows x 3 columns]

In [15]:
#Exporting as a CSV to use for larger basins where reading in both discharge and area crashes my laptop
output_dir = '/Users/finnwimberly/Desktop/Lizz Research/CSV Outputs/Area/All Basins/'

fname = 'GlacierAreaFrac.csv'

# Define the full path of the output file
output_path = os.path.join(output_dir, fname)

# Save the DataFrame as CSV
GlacierAreaFrac.to_csv(output_path, header=True, index=True)